@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font sizes */

  h1 {
    @apply text-3xl tracking-tight sm:text-5xl text-on-surface;
  }

  h2 {
    @apply text-2xl sm:text-3xl tracking-tight text-on-surface;
  }

  :root {
    /* Colors */
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #0e0e11;

    /* 'blue-violet': {
      '50': '#f0f3fd',
      '100': '#e4e9fb',
      '200': '#cfd7f6',
      '300': '#b1bdf0',
      '400': '#919ae8',
      '500': '#767ade',
      '600': '#615ccf',
      '700': '#5049b3',
      '800': '#444093',
      '900': '#3b3976',
      '950': '#242244',
  }, */

    --primary: #5049b3;
    --primary-variant: #919ae8;
    --secondary: #03dac6;

    --background: var(--zinc-50);
    --surface: var(--zinc-50);
    --error: #b00020;

    --on-primary: var(--zinc-50);
    --on-secondary: var(--zinc-950);
    --on-surface: var(--zinc-950);
    --on-surface-variant: var(--zinc-500);
    --on-error: var(--zinc-50);
    --on-surface-hover: var(--zinc-100);

    --around-surface: var(--zinc-300);
  }

  .dark {
    --primary-variant: #3b3976;
    --background: var(--zinc-950);
    --surface: var(--zinc-950);
    --on-surface: var(--zinc-50);
    --on-surface-hover: var(--zinc-900);
    --around-surface: var(--zinc-700);
  }
}
